<?xml version="1.0" encoding="utf-8"?>
<!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="broft.pushword" >

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".LockScreenActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name=".BroadcastReceiver$ScreenReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>

        <receiver android:name="AlarmService_Service" android:process=":remote" />

        <service
            android:name=".Service$PushAlarmService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".Service$LockScreenService"
            android:enabled="true"
            android:exported="true" >
        </service>

    </application>

</manifest>
